<div class="sidebar">
  <img src="/assets/img/logo-white.png" alt="">
  <div class="links">
    @if(isGuestUser || userIsLoggedIn){
    <a  routerLinkActive="summary" routerLink="/summary">
        <mat-icon>space_dashboard_outlined</mat-icon>
        <span>Summary</span>
    </a>
    <a routerLinkActive="addtask"  routerLink="/addtask">
      <div class="icon-wrapper">
        <mat-icon class="absolute edit">edit</mat-icon>
        <mat-icon class="absolute ">square</mat-icon>
      </div>
      <span class="addTask">AddTask</span>
    </a>
    <a routerLinkActive="board" routerLink="/board">
      <mat-icon>calendar_view_week_outlined</mat-icon>
      <span>Board</span>
    </a>
    <a routerLinkActive="contacts" routerLink="/contacts">
      <mat-icon>contacts_outlined</mat-icon>
      <span>Contacts</span>
    </a>
  }
  </div>
  <div class="extraLinks">
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/legal-notice">Legal Notice</a>
  </div>
</div>

