<header>
  <img src="/assets/img/logo-gray.png" alt="">
  <span class="title">Kanban Project Management Tool</span>
  <div class="user">
    <a routerLink="/help"><mat-icon>help_outlined</mat-icon></a>
    <div class="initials" #initials (click)="toggleLinks()">
      <span>{{user.initials}}</span>
    </div>
  </div>
  <div class="links" *ngIf="showLinks" #links>
    <a routerLink="/help">Help</a>
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/legal-notice">Legal Notice</a>
    <a (click)="authService.logoutUser()">Logout</a>
    <a (click)="toggleProfile()"> Profile</a>
  </div>
</header>

@if(profileOpen){
<div class="profile">
  <form [formGroup]="profileForm">
    <span [ngStyle]="{'background-color': user.initialsColor}" class="user-initials">{{user.initials}}</span>
    <div class="input-field">
      <input type="text" value={{user.fullname}} formControlName="fullname">
      <span class="error" *ngIf="profileForm.get('fullname')?.invalid && (profileForm.get('fullname')?.dirty || profileForm.get('fullname')?.touched)">
        <ng-container *ngIf="profileForm.get('fullname')?.errors?.['required']">Full name is required.</ng-container>
        <ng-container *ngIf="profileForm.get('fullname')?.errors?.['pattern']">Min 2 words, John Doe</ng-container>
      </span>
      <mat-icon>person</mat-icon>
    </div>
    <div class="input-field">
      <input type="text" value={{user.email}} formControlName="email">
      <span class="error" *ngIf="profileForm.get('email')?.invalid && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched)">
        <ng-container *ngIf="profileForm.get('email')?.errors?.['required']">Email is required.</ng-container>
        <ng-container *ngIf="profileForm.get('email')?.errors?.['email'] || profileForm.get('email')?.errors?.['pattern']">Email is invalid.</ng-container>
      </span> 
      <mat-icon>mail_outline</mat-icon>
    </div>
    <div class="input-field">
      <input type="text" value={{user.phone}} formControlName="phone">
      <span class="error" *ngIf="profileForm.get('phone')?.invalid && (profileForm.get('phone')?.dirty || profileForm.get('phone')?.touched)">
        <ng-container *ngIf="profileForm.get('phone')?.errors?.['required']">Phone is required.</ng-container>
        <ng-container *ngIf="profileForm.get('phone')?.errors?.['pattern']">Phone is invalid.</ng-container>
      </span>
      <mat-icon>phone</mat-icon>
    </div>
    <div class="buttons-area">
      <button class="close-button" (click)="toggleProfile()">
        <span>Cancel</span>
        <mat-icon>close</mat-icon>
      </button>
      @if(!guestUser){
        <button class="save" (click)="saveChangedUserData()" [disabled]="profileForm.invalid">Save</button>
      }
    </div>
    @if(profileForm.invalid) {
      <span class="form-invalid">The form is invalid</span>
    }
  </form>
  @if(profileUpdated){
    <div class="response">
      <span>Profile updated</span>
    </div>
  }

</div>



}