<header>
  <img src="/assets/img/logo-gray.png" alt="">
  <span class="title">Kanban Project Management Tool</span>
  <div class="user">
    <a routerLink="/help"><mat-icon>help_outlined</mat-icon></a>
    <div class="initials" #initials (click)="toggleLinks()">
      <span>{{headerInitials}}</span>
    </div>
  </div>
  <div class="links" *ngIf="showLinks" #links>
    <a routerLink="/help">Help</a>
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/legal-notice">Legal Notice</a>
    <a (click)="authService.logoutUser()">Logout</a>
  </div>
</header>