img{
  width: 100px;
  height: 120px;
  position: absolute;
  top: 50px;
  left: 50px;
}

@media (max-width: 550px){
  img{
    top: 10px;
    left: 10px;
  }
}

@media(max-height:800px){
  img{
    height: 60px;
    width: 50px;
  };
}