@if(task && !editingTask){
<div class="overlay">
  <div class="task">
    <div class="close-contain" (click)="closeTask()">
      <mat-icon>close</mat-icon>
    </div>

    @if(task.category == 'technical-task'){
      <span class="category {{task.category}}">Technical Task</span>
    }
    @if(task.category == 'user-story'){
      <span class="category {{task.category}}">User Story</span>
    }
    <h1 class="title">{{task.title}}</h1>
    <p class="description">{{task.description}}</p>
    <div class="dueDate">
       <span>Due date:</span>
       <span> {{task.dueDate | date}}</span> 
    </div>
    <div class="priority">
      <span class="prio">Priority:</span>
        @if(task.priority == 'urgent'){
          <div class="priority-left">
            <span>Urgent</span>
            <div class="urgent priority"> 
              <mat-icon>double_arrow_outlined</mat-icon>
            </div>
          </div>
        }
        @if(task.priority == 'medium'){
          <div class="priority-left">
            <span>Medium</span>
            <div class="medium priority"> 
              <mat-icon>drag_handle</mat-icon>
            </div>
          </div>
        }
        @if(task.priority == 'low'){
          <div class="priority-left">
            <span>Low</span>
            <div class="low priority"> 
              <mat-icon>double_arrow_outlined</mat-icon>
            </div>
          </div>
        }
    </div>
    <div class="contacts">
      <span>Assigned to</span>
      <div class="contacts-container">
        @for ( contact of task.contacts; track $index) {
          <div class="contact">
            <div class="contact-initials" [ngStyle]="{'background-color': contact.initialsColor}">
              {{ contact.initials }}
            </div>
            <div>{{ contact.fullName }}</div>
          </div>
        }
      </div>
    </div>
    <div class="subtasks">
      <span>Subtasks:</span>
      <div class="subtasks-container">
        @for ( subtask of task.subtasks; track $index) {
          <div class="subtask">
            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkbox"></span>
              <span class="title">{{ subtask.title }}</span>
            </label>
          </div>
        }
      </div>
    </div>

    <div class="actions">
      <div class="icons-contain">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </div>
      <div class="icons-contain" (click)="editTask()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </div>
    </div>
  </div>
</div>
}

@if(editingTask){
  <div class="overlay">
    <div class="task">
      <div class="close-contain" (click)="closeTask()">
        <mat-icon>close</mat-icon>
      </div>
      <div>
        <span>Title</span>
        <input type="text" [(ngModel)]="task.title">
      </div>
      <div>
        <span>Description</span>
        <textarea name="description" [(ngModel)]="task.description"></textarea>
      </div>
      <div>
        <span>Due date</span>
        <input type="date" [ngModel]="task.dueDate | date:'yyyy-MM-dd'">
      </div>
      <div>
        <span>Priority</span>
        <button></button>
        <button></button>
        <button></button>
      </div>
      <div>
        <div class="inputField">
          <div class="inputTitle">
            <span>Assigned to</span>
          </div>
          <div class="selectContacts" style="position: relative;">
            <mat-icon matSuffix class="arrow-icon" (click)="openContacts()">arrow_drop_down</mat-icon>
            <input #contactInput matInput type="text" placeholder="Select contacts to assign" (focus)="openContacts()" readonly />
            @if(contactsOpen){
              <app-select-contacts #selectContacts [selectedContacts]="task.contacts"></app-select-contacts>
            }
          </div>
        </div>
      </div>
      <div class="selectedContacts">
        <div *ngFor="let contact of task.contacts | slice:0:5" class="contact-initials">
          <span [ngStyle]="{'background-color': contact.initialsColor}">
            {{ contact.initials }}
          </span>
        </div>
        @if(task.contacts.length > 5){
          <div class="remaining-contacts">
            +{{ remainingContactsCount }}
          </div>
        }
      
      </div>
    </div>
  </div>
}

