@use '../../../styles' as *;
@use '../../shared/css/add-edit-task' as *;

.task{
  @include display(flex, column, flex-start, flex-start);
  gap: 24px;
  padding: 20px;
  border-radius: 30px;
  background-color: white;
  max-width: 525px;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;
  max-height: 85%;
  animation: fade-blur-to-middle 0.4s ease-out forwards
}

h1{
  font-size: 45px;
}

.backwards-animation {
  animation: fade-blur-to-middle-close 0.4s ease-out forwards;
}

@keyframes fade-blur-to-middle {
  0% {
    opacity: 0;
    filter: blur(50px);
    transform: scale(1.2) translateX(-100%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translateX(0);
  }
}

@keyframes fade-blur-to-middle-close {
  0% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translateX(0);
  }
  100% {
    opacity: 0;
    filter: blur(50px);
    transform: scale(1.2) translateX(-100%);
  }
}

.category{
  @include display(flex, row, flex-start, center);
  gap: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}

.dueDate{
  @include display(flex, row, space-between, center);
  :nth-child(1){
    color: gray;
    width: 100px;
  }
}
.prio{
  color: gray;
  width: 100px;
}

.priority{
  @include display(flex, row, space-between, center);
}

.priority-left{
  @include display(flex, row, flex-start, center);
  gap: 10px;
}

.contacts-container{
  @include display(flex, column, flex-start, flex-start);
  gap: 10px;
  padding: 10px 0px;
}

.contact{
  @include display(flex, row, flex-start, center);
  gap: 10px;
}

.contact-initials{
  @include display(flex, row, center, center);
  padding: 10px;
  border-radius: 100%;
  color: white;
  font-weight: 600;
  font-size: 12px;
}

.subtasks{
  @include display(flex, column, flex-start, flex-start);
  gap: 10px
}

.subtasks-container{
  @include display(flex, column, flex-start, flex-start);
  gap: 10px;
  padding: 0px 10px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px; 
}

.custom-checkbox input[type="checkbox"] {
  display: none; 
}

.custom-checkbox .checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid $darkgray;
  border-radius: 4px;
  display: inline-block;
  background-color: white;
  position: relative;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox {
  background-color: white;
  border-color: $darkgray;
}

.custom-checkbox .checkbox::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 4px;
  height: 6px;
  border: solid $darkgray;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; 
  transition: opacity 0.2s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox::after {
  opacity: 1; 
}

.custom-checkbox .title {
  font-size: 14px;
  color: #333;
}

.actions{
  @include display(flex, row, flex-end, center);
  gap: 20px;
  width: 100%;
}

.icons-contain{
  @include display(flex, row, flex-end, center);
  gap: 5px;
  &:hover{
    cursor: pointer;
    color: $blue;
  }
}



.selectedMedium{
  background-color: $medium;
  color: white;
  mat-icon{
    color: white;
  }
  &:hover{
    box-shadow: none;
  }
}

.selectedUrgent{
  color: white;
  background-color: $urgent;
  mat-icon{
    color: white;
  }
  &:hover{
    box-shadow: none;
  }
}


.selectedLow{
  background-color: $low;
  color: white;
  mat-icon{
    color: white;
  }
  &:hover{
    box-shadow: none;
  }
}


.marginTop{
  margin-top: 20px;
}

.remaining-contacts{
  background-color: lightgray;
  padding: 7px;
  border-radius: 100%;
}


.subtask-contain-edit{
  width: 100%;
  @include display(flex, column, flex-start, space-between);
  gap: 5px;
  scrollbar-width: none;
  margin-top: -20px;
  input{
    border: none;
    font-size: 16px;
    height: 32px;
    width: 100%;
  }
}


.edit-ok{
  width: 100%;
  @include display(flex, row, flex-end, center);
}

@media (max-width:500px){
  .prio-area{
    gap: 5px;
    button{
      gap: 3px;
      padding: 0px 5px;
    }
  }
}

@media (max-width:350px){
  .task{
    padding: 10px;
  }
}