@use '../../styles.scss' as *;
section {
  height: 100%;
  background-color: $background;
  position: relative;
}

main {
  @include display(flex, row, flex-start, flex-start);
  left: 232px;
  width: calc(100% - 232px);
  position: absolute;
  top: 96px;
  height: calc(100% - 96px);
}


.right-side {
  @include display(flex, column, flex-start, flex-start);
  width: 100%;
  margin-top: 96px;
  gap: 32px;
}

.left-side {
  width: 456px;
  @include display(flex, column, flex-start, center);
  gap: 32px;
  background-color: white;
  height: 100%;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.4);
}

.add-icon {
  transform: scaleX(-1);
}

.add-contact-button {
  @include display(flex, row, center, center);
  gap: 8px;
  width: 352px;
  height: 56px;
  background-color: $lightgray;
  color: white;
  border-radius: 10px;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: $blue;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.4);
  }
}

.button-contain {
  @include display(flex, row, center, center);
  height: 100px;
  width: 456px;
  padding: 30px 0px;

}

.contact-list {
  @include display(flex, column, flex-start, center);
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
}

.contact-contain {
  @include display(flex, row, flex-start, center);
  gap: 24px;
  width: 352px;
  border-radius: 20px;
  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

.initials {
  @include display(flex, row, center, center);
  padding: 10px;
  border-radius: 100%;
  color: white;
  font-weight: 600;
  font-size: 12px;
  margin-left: 20px;
}

.contact-info {
  @include display(flex, column, flex-start, flex-start);
  gap: 5px;
  width: 100%;
  padding: 10px 5px;
  span,
  a {
    width: 100%;
    font-size: 20px;
    text-wrap: nowrap;
  }
  a {
    color: $blue;
    font-size: 14px;
    width: fit-content;
  }
}

.contact-letter {
  font-weight: 600;
  font-size: 24px;
  margin-top: 14px;
  margin-bottom: 10px;
  border-bottom: 2px $darkgray solid;
  padding: 10px 32px;
  &:hover {
    background-color: white;
  }
}

.selected-contact {
  background-color: $lightgray ;
  span {
    color: white;
  }
  &:hover {
    background-color: $darkgray;
  }
}

.right-side-header {
  @include display(flex, row, flex-start, center);
  padding-left: 54px;
  gap: 30px;
  .separator {
    width: 3px;
    height: 64px;
    background-color: $blue;
  }
  span {
    font-size: 20px;
  }
}

.right-side-content {
  @include display(flex, column, center, center);
  height: 100%;
  width: 100%;
}

.selected-contact-name {
  @include display(flex, row, flex-start, center);
  gap: 32px;
  width: 100%;
  padding-left: 54px;
}

.selected-initials {
  @include display(flex, row, flex-start, center);
  font-size: 48px;
  color: white;
  padding: 20px;
  border-radius: 100%;
}

.selected-full-name {
  font-size: 48px;
  width: 20ch; 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  text-wrap: wrap
}

.icon-contain {
  @include display(flex, row, flex-start, center);
  gap: 16px;
}

.delete-contain, .edit-contain {
  @include display(flex, row, center, center);
  gap: 13px;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    color: $blue;
  }
}

.contact-informations {
  @include display(flex, column, flex-start, flex-start);
  gap: 32px;
  width: 100%;
  padding-top: 54px;
  padding-left: 54px;
  span {
    font-size: 20px;
  }
}

.selected-contact-email, .selected-contact-phone {
  @include display(flex, column, flex-start, flex-start);
  width: 100%;
  gap: 16px;
  span {
    font-size: 20px;
  }
  a {
    @include display(flex, row, flex-start, center);
    gap: 16px;
    text-decoration: none;
    color: $blue;
    font-size: 16px;
    mat-icon {
      color: $darkgray;
    }
    &:hover {
      cursor: pointer;
      mat-icon {
        color: $blue;
      }
    }
  }
}


.form-contain {
  @include display(flex, column, center, center);
  background-color: rgba(0, 0, 0, 0.2);
  width: calc(100% - 232px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 232px;
}

.form {
  max-width: 1440px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include display(flex, row, flex-start, center);
  width: 80%;
  height: 80%;
  max-height: 600px;
  border-radius: 50px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
  animation: fade-in-from-left 0.4s ease-out forwards
}

.form-left {
  @include display(flex, column, center, flex-start);
  background-color: $lightgray;
  height: 100%;
  width: fit-content;
  padding: 20px 40px;
  color: white;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  gap: 20px;
  img {
    width: 54px;
    height: 66px;
  }
  h1 {
    text-wrap: nowrap
  }
}

.form-right {
  @include display(flex, row, center, center);
  background-color: white;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.line {
  width: 90px;
  height: 3px;
  background-color: $blue;
}

.adding-contact {
  @include display(flex, column, center, flex-start);
  gap: 10px;
}

form {
  width: 100%;
  padding: 20px;
  @include display(flex, column, center, center);
  gap: 32px;
}

.inputField {
  @include display(flex, row, flex-start, center);
  position: relative;
  width: 100%;
  border-radius: 20px;
  border: 2px solid lightgray;
  padding-right: 20px;
  input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
  }
  mat-icon {
    color: lightgray;
  }
  &:hover {
    border: 2px solid $blue;
    mat-icon {
      color: $blue;
    }
  }
  &:focus-within {
    border-bottom: 2px solid $blue;
    mat-icon {
      color: $blue;
    }
  }
}

.editInitials {
  margin-left: 20px;
}

.buttons-area {
  @include display(flex, row, flex-start, center);
  width: 100%;
  gap: 32px;
}

.delete {
  @include display(flex, row, center, center);
  gap: 10px;
  background-color: white;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  font-weight: 300;
  &:hover {
    color: $blue;
    border: 1px solid $blue;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.4);
    transition: ease-in-out 125ms;
  }
}

.error {
  color: red;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  top: 100%;
}

.form-invalid {
  color: red;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: auto;
  height: auto;
  font-size: 32px;
  cursor: pointer;
  &:hover {
    color: $blue;
    font-size: 40px;
  }
}

.response {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: 400;
  animation: fadeFromRight 2s ease-in-out;
  z-index: 10000;
  background-color: $lightgray;
  padding: 30px;
  border-radius: 30px;
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(50%);
  }
}

.addInitials {
  @include display(flex, row, center, center);
  background-color: gray;
  border-radius: 100%;
  mat-icon {
    color: white;
    font-size: 80px;
    width: auto;
    height: auto;
  }
}

.form.fade-out-to-left {
  animation: fade-out-to-left 0.6s ease-in-out;
}

.hidden {
  display: none;
}

.full-width {
  display: flex;
  flex-direction: column;
  width: 100%;
}