@use '../../../../../styles' as *;
@use '../../../css/add-edit-task.scss' as *;

form{
  padding:40px 0px ;
  position: relative;
  display: flex;
  gap: 32px;
}

.leftForm, .rightForm{
  width: 440px;
  @include display(flex, column, flex-start, center);
  gap: 32px;
}

.selectedContacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.contact-initials {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.contact-initials span:first-child ,.remaining-contacts {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedMedium{
  background-color: $medium;
  color: white;
  mat-icon{
    color: white;
  }
  &:hover{
    box-shadow: none;
  }
}

.selectedUrgent{
  color: white;
  background-color: $urgent;
  mat-icon{
    color: white;
  }
  &:hover{
    box-shadow: none;
  }
}


.selectedLow{
  background-color: $low;
  color: white;
  mat-icon{
    color: white;
  }
  &:hover{
    box-shadow: none;
  }
}

.remaining-contacts {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: $darkgray;
  width: 36px;
  height: 36px;
  background-color: white;
}

.separator{
  width: 2px;
  background-color: $blue;
}



.select-category{
  width: 100%;
  height: 48px;
  border-radius: 10px;
  gap: 10px;
  @include display(flex, row, center, center);
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  font-weight: 400;
  color: $darkgray;
  position: relative;
  mat-icon{
    position: absolute;
    right: 10px;
  }
  &:focus-within mat-icon {
    transform: rotate(180deg);
  }
}



.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: $lightgray;
    color: white;
  }
}


.button-area{
  @include display(flex, row, flex-end, center);
  max-width: calc(1440px - 492px);
  gap: 20px;
}

.clear{
  font-weight: 300;
  @include display(flex, row, center, center);
  gap: 5px;
  background-color: white;
  border: 1px solid black;
  &:hover{
    color: $blue;
    border: 1px solid $blue;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4);
    transition: ease-in-out 125ms;
  }
}

.create{
  @include display(flex, row, center, center);
  gap: 5px;
  background-color: $lightgray;
  color: white;
  border: 1px solid transparent;
  &:hover{
    background-color: $blue;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4);
    transition: ease-in-out 125ms;
  }
}





