<section>
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="mainContent">
      <header>
        <h1>Join 360</h1>
        <div class="line"></div>
        <div class="mobile-line"></div>
        <span class="title">Key Metrics at a Glance</span>
      </header>
      <div class="summary">
      <div>
        <div class="cardArea">
          <div class="card" routerLink="/board">
            <div class="cardIcon">
              <mat-icon>edit</mat-icon>
            </div>
            <div class="cardText">
              <span>{{toDoTasksLength()}}</span>
              <span>To-do</span>
            </div>
          </div>
          <div class="card"  routerLink="/board">
            <div class="cardIcon">
              <mat-icon class="done">done</mat-icon>
            </div>
            <div class="cardText">
              <span>{{doneTasksLength()}}</span>
              <span>Done</span>
            </div>
          </div>
        </div>
        <div class="cardArea">
          <div class="card middleArea"  routerLink="/board">
            <div class="middleCardLeft">
              <div class="cardIcon  urgentSummary">
                <mat-icon>double_arrow_outlined</mat-icon>
              </div>
              <div class="cardText">
                <span>{{urgentTasksLength()}}</span>
                <span>Urgent</span>
              </div>
            </div>
            <div class="secondLine"></div>
            <div class="date">
              <span>{{upcomingDeadline()}}</span>
              <span>Upcoming Deadline</span>
            </div>
          </div>
        </div>
        <div class="cardArea">
          <div class="card lastCard"  routerLink="/board">
            <span>{{allTasksInBoard()}}</span>
            <p>Tasks in <br> Board</p>
          </div>
          <div class="card lastCard"  routerLink="/board">
            <span>{{inProgressTasksLength()}}</span>
            <p>Tasks in <br> Progress</p>
          </div>
          <div class="card lastCard"  routerLink="/board">
            <span>{{awaitingFeedbackTasksLength()}}</span>
            <p>Awaiting <br> Feedback</p>
          </div>
        </div>
      </div>
      <div class="greetings">
        <h1>{{setResponsebasedOnDaytime()}}</h1>
        @if(isGuestUser){
          <h1 class="userName">Guest</h1>
        }
        @if(userIsLoggedIn && !isGuestUser){
          <h1 class="userName">{{userName}}</h1>
        }
      </div>
    </div>
  </div>
</section>