@if(task){
<div class="task" (click)="openTask(task)">
  <div class="top">
    @if(task.category == "Technical Task"){
      <span class="category technical-task">{{task.category}}</span>
      }
    @if(task.category == 'User Story'){
      <span class="category user-story">{{task.category}}</span>
      }
      @if(isMobile){
        <mat-icon (click)="$event.stopPropagation()" (click)="openedMenu = !openedMenu" >more_vert</mat-icon>
      }
    

  </div>

  @if(openedMenu){ 
    <div class="menu" (click)="$event.stopPropagation()">
      <span (click)="setColumn('toDo')"> To do</span>
      <span (click)="setColumn('inProgress')"> In progress</span>
      <span (click)="setColumn('awaitingFeedback')"> Awaiting feedback</span>
      <span (click)="setColumn('done')"> Done</span>
    </div>
  }


  <p class="title elipsis">{{task.title}}</p>
  @if(task.description){
    <p class="description elipsis">{{task.description}}</p>
  }@else {
    <p class="description elipsis">No description</p>
  }

  @if(task.subtasks.length > 0){
    <div class="progress-container">
      <div class="progress-bar-background">
        <div
          class="progress-bar-fill"
          [style.width.%]="(completedSubtasks / totalSubtasks) * 100"
        ></div>
      </div>
      <span class="progress-text">
        {{ completedSubtasks }}/{{ totalSubtasks }} Subtasks
      </span>
    </div>
  }
  <div class="priority">
    <div class="contacts-container">
      @if (task.assignedTo.length <= 4) {
        @for (contact of task.assignedTo; track $index) {
          <div class="contact-initials" [ngStyle]="{'background-color': contact.initialsColor}">
            {{ contact.initials }}
          </div>
        }
      }
      @if (task.assignedTo.length > 4) { 
        @for (contact of task.assignedTo.slice(0, 4); track $index) {
          <div class="contact-initials" [ngStyle]="{'background-color': contact.initialsColor}">
            {{ contact.initials }}
          </div>
        }
        <div class="remaining-contacts contact-initials">
          +{{ task.assignedTo.length - 4 }}
        </div>
      }
    </div>
    @if(task.priority == 'urgent'){
    <div class="urgent">
      <mat-icon>double_arrow_outlined</mat-icon>
    </div>
    }
    @if(task.priority == 'medium'){
    <div class="medium">
      <mat-icon>drag_handle</mat-icon>
    </div>
    }
    @if(task.priority == 'low'){
    <div class="low">
      <mat-icon>double_arrow_outlined</mat-icon>
    </div>
    }
  </div>
</div>
}

@if(openedTask){
  <div class="openedTask">
    <app-opened-task [task]="task" (close)="onTaskClosed()"></app-opened-task>
  </div>
}
