@if(!isHeightTooSmall){


<section>
  <app-logo-login></app-logo-login>
  <div class="container">
    <div class="title">
      <h1>Log in</h1>
      <div class="line"></div>
    </div>
    <form [formGroup]="loginForm">
      <div class="inputField">
        <input type="email" placeholder="Email" formControlName="email">
        <mat-icon>mail_outline</mat-icon>
  
        @if(loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)){
          <span class="error-message">
            @if(loginForm.get('email')?.errors?.['required']){
              Email is required.
            }
            @if(loginForm.get('email')?.errors?.['email'] || loginForm.get('email')?.errors?.['pattern']){
              Email is invalid.
            }
          </span>
        }
      </div>
      <div class="inputField">
        <input  [type]="passwordVisible ? 'text' : 'password'"placeholder="Password" formControlName="password">
        <mat-icon class="visibility" (click)="togglePasswordVisibility()">
          {{ passwordVisible ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        @if(loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)){
          <span class="error-message">
            @if(loginForm.get('password')?.errors?.['required']){
              Password is required.
            }
            @if(loginForm.get('password')?.errors?.['minlength']){
              Min 8 chars.
            }
          </span>
        }
      </div>

      <div class="buttons">
        <button class="login" [disabled]="loginForm.invalid" (click)="login()">Log in</button>
        <a (click)="guestLogin()"><button>Guest Log in</button></a>
      </div>
      @if(errrormessage){
        <span class="error-message">{{errrormessage}}</span>
      }
    </form>
  </div>
  <div class="register">
    <span>Not a Join User? </span>
    <button routerLink="/register" class="login">Sign up</button>
  </div>
  <app-links-login></app-links-login>
</section>
}

@if(isHeightTooSmall){
  <div class="height-warning">
    <p>Please turn your phone for a better experience.</p>
  </div>
}