
@use '../shared/css/login' as *;
@use '../../styles' as *;

.buttons{
  @include display(flex, row, center, center);
  width: 100%;
  gap: 32px;
    a{
      button{
        border: 1px $darkgray solid;
        background-color: white;
      &:hover{
        border: 1px $blue solid;
        color:$blue;
        box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.5);
      };}
      }
}


.register{
  @include display(flex, row, center, center);
  position: absolute;
  right: 50px;
  top: 50px;
  gap: 20px;
  span{
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 550px){
  .register{
    flex-direction: column;
    top: 10px;
  }
}

@media (max-width:400px){
  .register{
    right: 10px;
    top: 10px;
  }
}

@media (max-width:350px){
  .buttons{
    gap: 10px;
  }
}

@media (max-height: 800px){
  h1{
    font-size: 48px;
  }
  .container{
    padding: 20px 20px 40px 20px!important;
  };
}


.start-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  animation: shrinkAndHide 2s forwards;
}


.logo {
  width: 150px;
  height: auto;
}

@keyframes shrinkAndHide {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translate(-90vw, -80vh);
    opacity: 0.4;
  }
}

.login-form {
  display: none;
}

.login-form.active {
  display: block;
}

@keyframes shrinkAndHideMobile {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translate(-80vw, -90vh);
    opacity: 0.5;
  }
}

@media (max-width:600px){
  .start-animation {
    animation: shrinkAndHideMobile 1.5s ease-out forwards;
  }
}

