@use '../../styles' as *;
@use '../shared/css/extra-links' as *;

.portfolio-link{
  font-size: 32px;
  &:hover{
    scale: 1.1;
    font-weight: 600;
  }
}

@media (max-width: 1440px){
  .mainContent{
    padding-left: 60px !important;
  }
}

@media (max-width:500px){
  .mainContent{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  mat-icon{
    right: 10px;
    top: 35px;
  }
}