@use '../../styles' as *;

section{
  height: 100%;
  background-color: $background;
  position: relative;
}

main{
  @include display(flex, column, flex-start, flex-start);
  left: 232px;
  width: calc(100% - 232px);
  position: absolute;
  top: 96px;
  height: calc(100% - 96px);
  padding: 96px 0px 0px 96px;
  max-width: calc(1440px - 232px);
  gap: 32px;
}

.board-header{
  @include display(flex, row, space-between, center);
  width: 100%;
  h1{
    font-size: 60px;
  }
}

.inputField{
  @include display(flex, row, flex-start, center);
  position: relative;
  width: 60%;
  gap: 16px;
  border-radius: 20px;
  border: 2px solid lightgray;
  background-color: white;
  padding-right: 20px;
  input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding:20px;
    border-radius: 20px;
    font-size: 20px;
  }
  mat-icon{
    color: lightgray;
  }
  &:hover{
    border: 2px solid $blue;
    mat-icon{
      color: $blue;
    }
  }
  &:focus-within{
    border-bottom: 2px solid $blue;
    mat-icon{
      color: $blue;
    }
  }
}
.search{
  max-width: 312px;
}

.right-side{
  @include display(flex, row, flex-start, flex-start);
  gap: 32px;
}

.columns-container{
  @include display(flex, row, space-between, flex-start);
  width: 100%;
  height: calc(100% - 120px);
}

.column{
  @include display(flex, column, flex-start, flex-start);
  gap: 32px;
  max-width: 232px;
  min-width: 232px;
  height:100%;
}

.column-title{
  @include display(flex, row, space-between, center);
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  mat-icon{
    width: auto;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 24px;
    &:hover{
      border: 1px solid $blue;
      color: $blue;
      cursor : pointer;
    }
  }
}

.task-column{
  @include display(flex, column, flex-start, flex-start);
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow-y:auto;
  scrollbar-width: none;
}

.noTasks{
  @include display(flex, column, flex-start, center);
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: gray;
  background-color: lightgray;
  padding: 10px 0px;
  border-radius: 10px;
  border: 2px dashed gray;
}

app-add-task-template {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border-radius: 50px;
  animation: fade-in-from-left 0.5s ease-in-out; 
}

app-task{
  width: 100%;
}

