@font-face {
  font-family: 'fira';
  src: url('../public/assets/fonts/FiraCode-Regular.ttf') format('truetype');
}

@mixin display($display:flex, $direction:row, $justify:center, $align:center) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$background: #F6F7F8;
$blue : #29ABE2;
$darkgray: #091931;
$lightgray: #2A3D59;
$urgent: #FF3D00;
$medium: #FFA800;
$low: #7AE229;
$technical: #0038FF;
$userStory: #1FD7C1;

html, body { height: 100%;  font-family: 'fira';}
* {
   box-sizing: border-box;
    margin: 0;
    transition: all 125ms ease-in-out;
  }

a{
  text-decoration: none;
  color: $blue;
}

input, textarea {
  line-height: 24px;
  &::placeholder {
    color: lightgray; 
    transition: color 0.125s ease; 
  }
  &:focus {
    &::placeholder {
      color: $darkgray;
    }
  }
}

mat-icon{
  font-family: 'Material Icons Outlined';
}

button{
  @include display(flex, row, center, center);
  height: 48px;
  border-radius: 10px;
  border: 2px transparent solid;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.125s ease;
}

.mainContent{
  position: absolute;
  top: 96px;
  left: 232px;
  padding-top: 110px;
  padding-left: 96px;
  width: calc(100% - 232px);
  height: calc(100% - 196px);
  @media (max-width:1440px){
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-left: 0px;
    padding-top: 50px;
    @include display(flex, column, flex-start, center);
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

h1{
  font-size: 60px;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background: $lightgray; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: $darkgray; 
}

::-webkit-scrollbar-track {
  background: $blue; 
  border-radius: 6px; 
}


.save{
  @include display(flex, row, center, center);
  gap: 10px;
  background-color: $lightgray;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 300;
  &:hover{
    background-color: $blue;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4);
    transition: ease-in-out 125ms;
  }
  &:disabled{
    background-color: lightgray;
    color: rgb(243, 10, 10);
  }
}

.urgent, .urgent-open{
  mat-icon{
    color: $urgent;
    transform: rotate(-90deg);
  }
}

.medium, .medium-open{
  mat-icon{
    color: $medium;
  }
}

.low, .low-open{
  mat-icon{
    color: $low;
    transform: rotate(90deg);
  }
}

.technical-task{
  background-color: $technical; 
}

.user-story{
  background-color: $userStory;
}

.elipsis{
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2; 
  line-clamp: 2; 
  text-overflow: ellipsis;
}


.overlay{
  position: absolute;
  @include display(flex, column, center, center);
  gap: 32px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99999;
  top: 0;
  left: 0;
}

.close-contain{
  position: absolute;
  top: 20px;
  right: 20px;
  &:hover{
    cursor: pointer;
    mat-icon{
      color: red;
      animation: spin-and-color 0.75s ease-in-out infinite; 
    }
  }
}

@keyframes spin-and-color {
  0% {
    transform: rotate(0deg);
    color: red;
    scale: 1;
  }
  100% {
    transform: rotate(180deg);
    color: $blue;
    scale: 1.2;
  }
}

@keyframes fade-in-from-left {
  from {
    opacity: 0;
    transform: translate(-150%, -50%); 
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); 
  }
}


.fade-out-to-left {
  animation: none;
  animation: fade-out-to-left 0.5s ease-in-out;
}

@keyframes fade-out-to-left {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-150%, -50%);
  }
}

.error-message{
  color: red;
  font-size: 12px;
  font-weight: 300;
  position:absolute;
  top: 100%;
}