<section>
  <app-logo-login></app-logo-login>
  <div class="container">
    <div class="back-wrapper">
      <a routerLink=""><mat-icon class="back">arrow_back</mat-icon></a>
    </div>
    <div class="title">
      <h1>Sign up</h1>
      <div class="line"></div>
    </div>
    <form [formGroup]="registerForm" >
      <div class="inputField">
        <input type="text" placeholder="Username" formControlName="username">
        <mat-icon>person</mat-icon>
      </div>
      <div class="inputField">
        <input type="email" placeholder="Email" formControlName="email">
        <mat-icon>mail_outline</mat-icon>
      </div>
      <div class="inputField">
        <input type="password" placeholder="Password" formControlName="password">
        <mat-icon>lock_outline</mat-icon>
      </div>
      <div class="inputField">
        <input type="password" placeholder="Repeat password" formControlName="repeatPassword">
        <mat-icon>lock_outline</mat-icon>
      </div>
      <div class="inputField">
        <input type="phone" placeholder="Phone" formControlName="phone">
        <mat-icon>phone</mat-icon>
      </div>

      <label for="checkbox" class="custom-checkbox">
        <input type="checkbox" id="checkbox">
        <span class="checkmark"></span>
        I accept the <a href="#"> Privacy Policy</a>
      </label>
      <div class="buttons" (click)="createUserJson()">
        <button class="login">Register</button>
      </div>
    </form>
  </div>
  <app-links-login></app-links-login>
</section>
