@use '../shared/css/login' as *;
@use '../../styles' as *;
a{
  color: $blue;
  &:hover{
    scale: 1.04;
    user-select: contain;
  }
}



label{
  justify-content: center !important;
}

.back-wrapper {
  position: absolute;
  left: 50px;
  top: 50px;
  @include display(flex, row, center, center);
  border-radius: 100%;
  padding: 10px; 
  transition: transform 0.125s, background-color 0.125s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: $background;
  }

  .back {
    color: $blue;
    @include display(flex, row, center, center);
    font-size: 32px;
    transition: transform 0.125s;
    .back-wrapper:hover & {
      transform: scale(0.70); 
    }
  }
}

.input-error{
  border-bottom: 1px solid red;
}

.error-message-missmatch{
  color: red;
  font-size: 12px;
  font-weight: 300;
  position:absolute;
  top: -40%
}

.register-error{
  color: red;
  font-size: 16px;
  font-weight: 300;
}

.response{
  @include display(flex, column, center, center);
  position: absolute;
  gap: 10px;
  font-size: 26px;
  font-weight: 300;
  color: white;
  background-color: $lightgray;
  border-radius: 30px;
  padding: 10px 20px;
  animation: move-from-left 2s ease-in-out;
}

@keyframes move-from-left {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}